/* Reset boarder box */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

main {
  max-width: 1200px;
  margin: 0 auto;
}

section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

article,
aside {
  flex-basis: 100%;
}


/* Mobile first styles go here */

@media screen and (max-width: 600px) {
  /* Desktop styles go here */
  article {
   flex: 1;
 }
}

h1 {
  font-size: 1.5rem;
}

@media screen and (min-width: 600px) {
  h1 {
    font-size: 2rem;
  }
}
